h3 {
    display: flex;
    gap:10px
}

Todolist_div {
display: flex;
}
.Todolist_div-h3-button {
    width: 25px;
}

.Todolist_div-ul-li-button {
    width: 15px;
    height: 15px;
}

.Todolist_task-li {
    gap:5px;
    display: flex;
    align-items: center
}